/* import variables from docsy */
@import 'variables';

/* copy button */
.highlight {
    position: relative;
}
.highlight pre {
    padding-right: 75px;
}
.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: $white;
    background-color: $gray-600;
    min-width: 55px;
    text-align: center;
}
.highlight-copy-btn:hover {
    background-color: $gray-700;
}

/* details elements */
details {
    border: 1px solid $gray-600;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin: 0.5em;
}
summary {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 500;
    margin: -.5em -.5em 0;
    padding: 0.5em;
}
